
//Tema1
.BG2
  background-image: url("../assets/curso/fondo_intro.svg")
  border-radius: 20px
  @media screen and (max-width: 1000px)
    background-color: #126783
    border-radius: 0px
    
.izq
  margin-left: -12px

.tabla-editada1
  table
    width: auto
    white-space:
  thead
    background-color: #20BDFC
    color: #fff
  tbody
  td:nth-child(1)
    white-space: nowrap
    width: 10%
  td:nth-child(2)
    width: 30%
  @media screen and (max-width: 1400px) 
    table 
      display: block;
      overflow-x: auto;
       


.tabla-editada2
  table
    width: auto
    white-space:
  thead
    background-color: #20BDFC
    color: #fff
  tbody
  td:nth-child(1)
    white-space: nowrap
    width: 20%
  td:nth-child(2)
    width: 30%
  @media screen and (max-width: 1400px) 
    table 
      display: block;
      overflow-x: auto;

.tabla-editada3
  table
    width: auto
    white-space:
  thead
    background-color: #20BDFC
    color: #fff
  tbody
  th:nth-child(1)
    white-space: nowrap
    width: 25%
  td:nth-child(2)
    width: 40%
  @media screen and (max-width: 1400px) 
    table 
      display: block;
      overflow-x: auto;

.tabla-editada4
  table
    width: auto
    white-space:
  thead
    background-color: #20BDFC
    color: #fff
  tbody
  th:nth-child(1)
    white-space: nowrap
    width: 30%
  td:nth-child(2)
    width: 80%
  @media screen and (max-width: 1400px) 
    table 
      display: block;
      overflow-x: auto;

.centrado
  position: relative
  margin-top: 100px
  @media screen and (max-width: 1400px)
    margin-top: 0px
.fondo-slyder
  background-image: url('../assets/curso/tema1/fondo_slyder.svg')
  background-size: cover
  background-repeat: no-repeat
  padding: 1.5rem

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 35px
  height: 35px
  background-color: #FED166
  border-radius: 50%
  background-image: url(../assets/curso/tema1/bi.svg)
  background-repeat: no-repeat
  background-size: 20px 20px
  background-position: center
  border: 1px solid #FED166
  border-top-color: #FED166
  border-right-color: #FED166
  border-bottom-color: #FED166
  border-left-color: #FED166
  top: 96%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer

.slyder-a__btn--atrs 
  width: 35px
  height: 35px
  background-color: #DEE4F0
  border-radius: 50%
  background-image: url(../assets/curso/tema1/bi2.svg)
  background-repeat: no-repeat
  background-size: 20px 20px
  background-position: center
  border: 1px solid #DEE4F0
  border-top-color: rgb(255, 255, 255)
  border-right-color: rgb(255, 255, 255)
  border-bottom-color: rgb(255, 255, 255)
  border-left-color: rgb(255, 255, 255)
  top: 96%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer

.slyder-a__tipo-a .slyder-a__btn--atrs 
  transform: translateY(-50%) rotate(180deg)
  left: 15px
.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(-50%) rotate(1deg)
  right: 15px
.slyder-a__bullets__item--active 
  background-color: #25E0AC
  border-color: #25E0AC
  opacity: 1

.slyder-a__bullets__item 
  width: 13px;
  height: 13px;

.modal-a__content 
  position: fixed
  top: 50%
  left: 50%
  background-color: #ffffff
  width: 90%
  max-width: 1300px
  max-height: 100vh
  overflow-y: auto
  z-index: 110001
  border-radius: 20px
  transform: translate(-50%, -50%) scale(0)
  transition: transform 0.3s ease-in-out

.aling-1
  text-align: left  !important
  margin-top: 6rem
  margin-left: 3rem
  white-space: 10px

.aling-2
  text-align: left  !important
  margin-top: 2rem
  margin-left: 2rem
  white-space: 5px

table caption 
  margin-top: 5px;
  color: #12263F;
  font-size: 0.8em;
  background-color: #F6F6F6
  padding: 0.75em 1.5em;
  font-weight: 700;

.lista-ol li, .lista-ol--cuadro li, .lista-ul li, .lista-ul--separador li, .lista-ul--color li 
  display: flex;
  margin-bottom: 3px;

.bg-amarillo-claro
  background-color: #D3F9EE

.center
  margin: 0 auto

.bloque-texto-b.color-secundario:before
  background-color: #D3F9EE
  top: 240px
  left: 400px

.flip
  color: #B1DBEA
.img250
  max-width: 150px !important
.bgr
  background-color: #E6F1FF
  max-width: 400px !important
  &_2
    background-image: url(../assets/curso/tema1/fonflip1.svg) !important
    height: 400px !important
  &_3
    background-color: #B1DBEA !important
    height: 400px !important

.justify-center
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: center
  flex-direction: row
.align-items-center
  display: flex
  align-items: center !important
  flex-direction: row

.BG09
  background: linear-gradient(to right,#D3F9EE,#D3F9EE)

.section 
  box-shadow: -5px 15px 30px #a7a7a7;

.espa
  margin-top: 40px
  margin-left: -45px
  @media screen and (max-width: 1450px)
    margin-top: 0px
    margin-left: 0px

//tema2
.BG10
  background-image: url(../assets/curso/tema2/fond1.svg) !important
  background-size: 86%
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema2/fond1.svg) !important
    background-size: cover

.cor
  margin-left: 10px
  
.text-center
  text-align: center

.fondo5
  background-color: #E2E8EA !important

.correr-izq
  margin-left: -50px

.correr-der
  margin-right: -50px

.tarjetas-a
  background-color: #F6F6F6
  transition: background-color .3s ease-in-out 
  img:first-child
    display: block
  img:last-child
    display: none
  &:hover
    img:first-child
      display: none
    img:last-child
      display: block
    background-color: $color-primario

.crd
  position: relative
  padding: 2rem
  &.crdH100
    height: 100%
    padding-top: 2rem
    padding-bottom: 2rem
  &.crd--avatarLeft
    margin-left: 
  &.crd--white
    background-color: white
  &.crd--emeraldBlue
    background-color: #126783
  &.crd--mint
    background-color: #D3F9EE
  &.crd--blue
    background-color: #B1DBEA
  &.crd--paleBlue
    background-color: #CDE2E9
  &.crd--gray
    background-color: #F6F6F6
  &.crd--brad
    border-radius: 15px
  &.crd--hoverBlue
    height: 100%
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1)
    &:hover
      background-color: #126783
      h4, p
        color: white
  &.crd--shadow
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)


  &.crd--number
    position: relative
    height: 100%
    border: 3px solid #126783
    border-radius: 15px
    background-color: #D3F9EE
    &::before
      content: attr(data-crd-number)
      position: absolute
      top: 2rem
      left: -1rem
      padding: 0.25rem 0.7rem
      color: white
      font-weight: 700
      border-radius: 999px
      background-color: #126783     

.tarjetas-up
  justify-content: center
  display: flex
  flex-wrap: wrap
  &__content
    position: relative
    overflow: hidden
    width: 295px
    height: 393px
    margin: 5px
    border-radius: 20px
    background-color: #B1DBEA
    &:hover
      .tarjetas-up__content__image
        top: 0
    &__image
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: -100%
      transition: top 0.3s ease-in-out

.pasos-a__linea__esquina__linea 
  border: 3px solid
  width: 100%
  position: relative
  border-radius: 0px
.pasos-a__circle 
  width: 65px
  height: 65px
  min-width: 65px
.pasos-a.color-acento-botones .pasos-a__circle div  
  font-size: 30px

.bg
  &--2
    background-color: #D3F9EE !important
    border-radius: 20px
    &-claro2
      background-color: #D3F9EE !important
      border-radius: 20px

//tema3
.BG11
  background-image: url(../assets/curso/tema3/img2.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img2.png) !important
    background-size: cover

.BG12
  background-image: url(../assets/curso/tema3/img3.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img3.png) !important
    background-size: cover

.BG13
  background-image: url(../assets/curso/tema3/img4.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img4.png) !important
    background-size: cover

.BG14
  background-image: url(../assets/curso/tema3/img5.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img5.png) !important
    background-size: cover

.BG15
  background-image: url(../assets/curso/tema3/img6.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img6.png) !important
    background-size: cover

.BG16
  background-image: url(../assets/curso/tema3/img7.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img7.png) !important
    background-size: cover

.BG17
  background-image: url(../assets/curso/tema3/img8.png) !important
  background-size: cover
  height: 330px
  width: 295px
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/img8.png) !important
    background-size: cover

.end
  margin-top: 85%

.end1
  margin-top: 78%

.end2
  margin-top: 65%

.cajon-b.color-secundario:before
  background-color: #E6EFF2
  height: 50px 
  width: 221px

.bg
  &--3
    background-color: #D3F9EE !important
    border-radius: 20px
    float: right
    &-claro3
      background-color: #D3F9EE !important
      border-radius: 20px
      float: right

.flip
  color: #B1DBEA
.img250
  max-width: 150px !important
.fond
  background-color: #E6F1FF
  max-width: 400px !important
  &_2
    background-image: url(../assets/curso/tema4/fonflip1.svg) !important
    height: 100%
    background-size: cover
  &_3
    background-image: url(../assets/curso/tema4/fonflip2.svg) !important
    height: 100%
    background-size: cover

.tarjeta.color-secundario--claro
  background-color: #B1DBEA
    
.fondos
  background-image: url(../assets/curso/tema4/fond.svg) !important
  height: 100%
  background-size: cover

.BG18
  background-image: url(../assets/curso/tema4/fond2.svg) !important
  background-size: cover
  height: 352px
  width: 295px
  h5
    color: white
  &:hover
    background-image: url(../assets/curso/tema4/fonflip2.svg) !important
    background-size: cover
    height: 352px
    width: 295px
    h5 
      color: #12263F
  @media screen and (max-width: 1400px)
    background-image: url(../assets/curso/tema4/fond2.svg) !important
    background-size: cover
    height: auto
    width: auto

.bg_grad-01
  position: relative
  .tarjeta, .row, .titulo-segundo, p, ImagenInfografica,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 175px
    left: 0
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema1/fondo.svg")
    background-repeat: no-repeat

.bg_grad-02
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 300px
    left: 0
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema1/fondo2.svg")
    background-repeat: no-repeat

.bg_grad-03
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 130px
    left: 95%
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema3/clic.svg")
    background-repeat: no-repeat
    background-size: 12%

.bg_grad-04
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -150px
    left: 0%
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema2/fondo.svg")
    background-repeat: no-repeat

.fondo
  position: relative
  background-color: #E6EFF2
  background-repeat: no-repeat  
  top: -15px
  z-index: 1;

.tabs-c__tab--active 
  border-bottom: 6px solid !important;

.tabs-c.color-acento-contenido .tabs-c__tab--active:before 
  border-top-color: #20BDFC;
  z-index: 2;

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden   
  &:hover    
    .crd_hover_txt--font     
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--font
    position: absolute
    padding: 1.5rem 2rem 2rem 2rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 4.5rem ))
    @media screen and (max-width: 999px)
      position: absolute
      padding: 1.2rem 1.2rem 1.2rem 1.2rem
      bottom: 0    
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(calc( 100% - 4.5rem ))

  &.clr--01
    .crd_hover_txt--font
      background-color: #20BDFC 
      color: white !important
  &.clr--02
    .crd_hover_txt--font
      background-color: #25E0AC      
  &.clr--03
    .crd_hover_txt--font
      background-color: #126783
      h4, p
        color: white !important


.bg_grad-05
  position: relative
  .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -20px
    left: 0%
    width: calc( 100% + 6rem)
    height: 1590px
    background-image: url("../assets/curso/tema2/fondo2.svg")
    background-repeat: no-repeat

.bg_grad-06
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 50px
    left: 0%
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema3/fondo.svg")
    background-repeat: no-repeat

.bg_grad-07
  position: relative
  .row, figure, p, .col,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -15px
    left: 0%
    width: calc( 100% + 6rem)
    height: 532px
    background-color: #E6EFF2
    background-repeat: no-repeat

.bg_grad-08
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -25px
    left: 0%
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/tema4/fondo.svg")
    background-repeat: no-repeat

.BG
  background-image: url(../assets/curso/tema3/fondo2.svg) !important
  background-size: cover
  height: auto
  width: auto
  @media screen and (max-width: 999px)
    background-image: url(../assets/curso/tema3/fondo2.svg) !important
    background-size: cover

.linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item__line-container:before
  background-color: #FFFFFF
.linea-tiempo-c__header__item__dot
  border: 3px solid #FFFFFF
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  border: 2px solid #3a61f048
  background-color: #FFFFFF
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
.linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i
  color: #111E61
.linea-tiempo-c__header__item__text
  min-height: 100px !important;
.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__year 
  font-weight: 900;
  margin-left: 10px

.slyder-f__btn i 
  font-size: 2rem;
  color: #126783

.alinear
  display: flex;
  align-items: center;
  justify-content: center




  